streamlit
pandas
numpy
langchain
langgraph
langchain-community
langchain-google-genai
langchain-experimental
tabulate
pyppeteer
termcolor
matplotlib
seaborn
pillow
ipython
openpyxl
streamlit-navigation-bar