streamlit
pandas
numpy
langchain
langgraph
langchain-community
langchain-google-genai
langchain-experimental
google-genai
tabulate
pyppeteer
termcolor
matplotlib
seaborn
pillow
ipython
openpyxl
streamlit-navigation-bar
duckduckgo-search
beautifulsoup4
markdown
# aiofiles
# aiohttp
# faiss-cpu
# gTTS==2.5.1
# google-generativeai
# librosa
# moviepy==1.0.3
# nest-asyncio
# noisereduce
# pdf2image
# plotly
# pydub==0.25.1
# PyMuPDF==1.23.26
# PyPDF2
# Pygments==2.17.2
# pytesseract
# pytube==15.0.0
# python-dotenv
# requests
# scipy
# sentence-transformers
# soundfile
# SpeechRecognition==3.10.1
# tqdm
# typing-extensions
langchain_tavily
langchain_exa
